  <div class="container">

  <div class="row">
  	<div class="col-md-12">
  		<div class="jumbotron text-center" style="background-color: white">
	<h1>About Page</h1>
	

        </div>
  	</div>
  </div>

  <div class="row">
    <div class="col-md-4">

    <div class="jumbotron" style="background-color: white">

    <h4><b>Technologies (75%)</b></h4>
	<hr>
    <ul>
    	<li>HTML5</li>
    	<li>CSS3</li>
    	<li>Bootstrap</li>
    	<li>Angular JS</li>
    	<li>Express JS</li>
    	<li>Node JS</li>
    	<li>Mongo DB</li>
    	<li>Pouch DB</li>
    	<li>Android(Ionic)</li>
    	<li>ngrok.io</li>
    	<li>PHP/Laravel</li>
    	<li>mySql</li>
    	<li>Jira</li>
    	<li>Linux</li>
    	<li>JSON</li>
      <li>Python + Flask</li>
    	<li>Web Sockets(Socket.io)</li>
    	<li>BitBucket</li>
    	<li>Client Storage
          <ul>
          	<li>HTML local Storage</li>
          </ul>
    	</li>

    	<li>Git and Github Essentials</li>
    </ul>



  

    </div>

      <div class="jumbotron" style="background-color: white">

    <h4><b>Technologies (Loading......)</b></h4>
	<hr>
    <ul>
    	<li>Android(Java)</li>
    	<li>Angular II</li>
    	<li>TypeScript</li>
    	<li>Firebase</li>
    	<li>Angular Fire</li>
    	<li>Angular Seed</li>
    	<li>React JS</li>
    	<li>Heroku</li>
    	<li>Jenkins</li>
    	<li>Docker</li>
    	<li>Digital Ocean</li>
    	<li>AWS</li>
    	<li>Jquery + Ajax</li>
    	<li>Ionic II</li>
    	<li>Nginx</li>
    	<li>Client Storage

          <ul>
          	<li>WebSql</li>
          	<li>Indexed DB</li>
          </ul>

    	</li>
    </ul>



  

    </div>
    	
    </div>

     <div class="col-md-8">
     	<div class="jumbotron" style="background-color: white">
	<h4><b>Profile</b></h4>
	<hr>

       <dl><b>Self Concept</b></dl>
       <dd> This can be viewed as your preconcieved notions and commonly held beliefs. We could call it your philosophy. It depicts and encapsulates your personality</dd>



     <h4><b>These are my self concepts</b></h4>
     <ul>
     	<li>There is nothing like talent, its pure hardwork</li>
     	<li>I am a Genius</li>
     	<li>It is not Over Until I Win</li>
     	<li>If you can do it , then i will do it better</li>
     	<li>Show me mediocrity and i will show you my enemy</li>
     	<li>If am not known for some eccentricities and idiosyncracies, mastery, ingenuity then when separates me from the crowd</li>
     </ul>
     <hr />
	<h4><b>Invisible Teachers/Role Models</b></h4>
	 <ol type="1">
	 	<li>Brad Traversy</li>
	 	<li>Mirko Nasato</li>
	 	<li>Prosper Otemuyiwa (unicodeveloper)</li>
	 	<li>Michael Sullivan</li>
	 	<li>Derek Banas</li>
	 	<li>Bucky Robers</li>
	 </ol>
	    <hr />
	<h4><b>Visible Teachers/Mentors</b></h4>
	 <ul>
	 	<li>Sanni Oluwasegun Joseph --> Systems Engineer,FRCN Nigeria</li>
	 <li>Oyelade Oladayo Frank (first class,LAUTECH) --> Senior Software Engineer ATLAS MONEY,ONEPERCENTLAB</li>
	 	<li>Adeyemi Emmanuel (first class,Unilag) --> Lead Developer Flutterwave Nigeria</li>
	
	 </ul>
</div>
     </div>

  </div>
       	
     


  </div>